In [164]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import matplotlib
matplotlib.style.use('ggplot')

In [165]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier

In [166]:

trainvalues_df = pd.read_csv('training_set_values.csv')
trainlabels_df = pd.read_csv('training_set_labels.csv')
test_df = pd.read_csv('test_set_values.csv')

In [167]:
train_df = pd.merge(trainvalues_df,trainlabels_df,on='id')
combine =[train_df, test_df]
train_df.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [168]:
train_df.columns
pd.set_option('display.max_columns',None)

In [169]:
train_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [170]:
train_df.tail()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,True,1996,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay monthly,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,VWC,NaN,True,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [171]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
status_group             59400 non-null object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 40 columns):
id                       14850 non-null int64
amount_tsh               14850 non-null float64
date_recorded            14850 non-null object
funder                   13981 non-null object
gps_height               14850 non-null int64
installer                13973 non-null object
longitude                14850 non-null float64
latitude                 14850 non-null float64
wpt_name                 14850 non-null object
num_private              14850 non-null int64
basin                    14850 non-null object
subvillage               14751 non-null object
region                   14850 non-null object
region_code              14850 non-null int64
district_code            14850 non-null int64
lga                      14850 non-null object
ward                     14850 non-null object
population               14850 non-null int64
public_meeting           14029 non-null object
recorded_by              14850 non-null object
scheme_management        13881 non-null object
scheme_name              7758 non-null object
permit                   14113 non-null object
construction_year        14850 non-null int64
extraction_type          14850 non-null object
extraction_type_group    14850 non-null object
extraction_type_class    14850 non-null object
management               14850 non-null object
management_group         14850 non-null object
payment                  14850 non-null object
payment_type             14850 non-null object
water_quality            14850 non-null object
quality_group            14850 non-null object
quantity                 14850 non-null object
quantity_group           14850 non-null object
source                   14850 non-null object
source_type              14850 non-null object
source_class             14850 non-null object
waterpoint_type          14850 non-null object
waterpoint_type_group    14850 non-null object
dtypes: float64(3), int64(7), object(30)
memory usage: 4.5+ MB

In [172]:
train_df.describe(include=['O'])

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
count,59400,55765,55745,59400,59400,59029,59400,59400,59400,56066,59400,55523,31234,56344,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1897,2145,37400,9,19287,21,125,2092,2,1,12,2696,2,18,13,7,12,5,7,7,8,6,5,5,10,7,3,7,6,3
top,2011-03-15,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,GeoData Consultants Ltd,VWC,K,True,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,59400,36793,682,38852,26780,26780,26780,40507,52490,25348,25348,50818,50818,33186,33186,17021,17021,45794,28522,34625,32259

In [173]:
for ds in combine:
    median_const = ds['construction_year'].median()
    ds['construction_year'] = ds.construction_year.mask(ds.construction_year ==0, median_const).astype(int)
    median_gpsh = ds['gps_height'].median()
    ds['gps_height'] = ds.gps_height.mask(ds.gps_height ==0, median_const).astype(int)
    ds['date_recorded'] = pd.to_datetime(ds['date_recorded']).dt.year
    ds['date_recorded'] = ds['date_recorded'].astype('int32')
    ds['date_recorded'] = ds['date_recorded']-ds['construction_year']

In [174]:
#train_df['status_group']=train_df['status_group'].astype('category')
#train_df['status_group']= train_df['status_group'].cat.codes
train_df['status_group'] = train_df['status_group'].map( {'functional': 0, 'non functional': 1, 'functional needs repair':2} ).astype(int)
#train_df.head(10)

In [175]:
train_df[['quantity','status_group']].groupby(['quantity'],as_index=False).mean().sort_values(by='status_group', ascending=False)

       quantity  status_group
0           dry      0.980788
4       unknown      0.747782
2  insufficient      0.572609
3      seasonal      0.528642
1        enough      0.419996

In [176]:
train_df[['source_type','status_group']].groupby(['source_type'],as_index=False).count().sort_values(by='status_group', ascending=False)

            source_type  status_group
6                spring         17021
5          shallow well         16824
0              borehole         11949
4            river/lake         10377
3  rainwater harvesting          2295
1                   dam           656
2                 other           278

In [177]:
print("Before", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

train_df = train_df.drop(['region','num_private','wpt_name','recorded_by','scheme_name'], axis=1)
test_df = test_df.drop(['region','num_private','wpt_name','recorded_by','scheme_name'], axis=1)
combine = [train_df, test_df]

"After", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape

Before (59400, 41) (14850, 40) (59400, 41) (14850, 40)

('After', (59400, 36), (14850, 35), (59400, 36), (14850, 35))

In [178]:

for ds in combine:
    ds['basin']= pd.get_dummies(ds['basin'])
    ds['lga']= pd.get_dummies(ds['lga'])
    ds['ward']= pd.get_dummies(ds['ward'])
    ds['public_meeting'].fillna(False)
    ds['public_meeting']= pd.get_dummies(ds['public_meeting'])
    ds['permit']= pd.get_dummies(ds['permit'])
    ds['management']= pd.get_dummies(ds['management'])
    ds['scheme_management'].fillna('-999', inplace=True)
    ds['scheme_management']= pd.get_dummies(ds['scheme_management'])
    ds['management_group']= pd.get_dummies(ds['management_group'])
    ds['extraction_type_class']= pd.get_dummies(ds['extraction_type_class'])
    ds['payment_type']= pd.get_dummies(ds['payment_type'])
    ds['quantity']= pd.get_dummies(ds['quantity'])
    ds['source']= pd.get_dummies(ds['source'])
    ds['waterpoint_type']= pd.get_dummies(ds['waterpoint_type'])
    ds['water_quality']= pd.get_dummies(ds['water_quality'])
    ds['waterpoint_type']= pd.get_dummies(ds['waterpoint_type'])
    ds['waterpoint_type_group']= pd.get_dummies(ds['waterpoint_type_group'])
    ds['quality_group']= pd.get_dummies(ds['quality_group'])
    ds['source_type']= pd.get_dummies(ds['source_type'])
    ds['source_class']= pd.get_dummies(ds['source_class'])
    ds['quantity_group']= pd.get_dummies(ds['quantity_group'])
    ds['payment']= pd.get_dummies(ds['payment'])
    ds['extraction_type']= pd.get_dummies(ds['extraction_type'])
    ds['extraction_type_group']= pd.get_dummies(ds['extraction_type_group'])
    ds['funder'].fillna('-999', inplace=True)
    ds['funder']= pd.get_dummies(ds['funder'])
    ds['subvillage']= pd.get_dummies(ds['subvillage'])
    ds['installer'].fillna('-999', inplace=True)
    ds['installer']= pd.get_dummies(ds['installer'])
    ds['population'].replace(0,train_df.groupby(['lga','district_code'])["population"].transform("mean"), inplace=True)
    
    
    

  
train_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,basin,subvillage,region_code,district_code,lga,ward,population,public_meeting,scheme_management,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,12,0,1390,0,34.938093,-9.856322,0,0,11,5,0,0,109.000000,0,0,1,1999,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0
1,8776,0.0,3,0,1399,0,34.698766,-2.147466,0,0,20,2,0,0,280.000000,0,0,0,2010,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0
2,34310,25.0,4,0,686,0,37.460664,-3.821329,0,0,21,4,0,0,250.000000,0,0,0,2009,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
3,67743,0.0,27,0,263,0,38.486161,-11.155298,0,0,90,63,0,0,58.000000,0,0,0,1986,0,0,0,0,0,1,0,0,0,1,1,0,1,1,1,0,1
4,19728,0.0,25,0,1986,0,31.130847,-1.825359,0,0,18,1,0,0,182.246415,0,1,0,1986,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0

In [179]:
from sklearn.model_selection import train_test_split

X= train_df.drop(['id','status_group'],axis=1)
y= train_df["status_group"]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=22)

In [180]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc = sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

X_train.shape

(47520, 34)

In [181]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=400)
random_forest.fit(X_train, y_train)
Y_pred_winner = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
acc_random_forest

99.180000000000007

In [184]:
holdout= test_df.drop(['id'],axis=1)
holdout_scaled = sc.transform(holdout)
holdout_pred = random_forest.predict(holdout_scaled)

print(holdout_pred)

[0 0 0 ..., 0 0 1]

In [186]:
submission = pd.DataFrame({
        "id": test_df["id"],
        "status_group": holdout_pred
    \
    })
submission['status_group']=submission['status_group'].map( { 0: 'functional',1: 'non functional', 2:'functional needs repair'} ).astype(str)

submission.to_csv('submission.csv', index=False)

In [187]:
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'